/* Defines styles used in the shiny app. */

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  font-family: Lato, Arial, Helvetica, sans-serif;
}

/* UI elements */
span.irs-bar-edge,
span.irs-bar {
  border: none;
  background: none;
}

span.irs-single {
  background: #2c3e50;
}

/* navbar */
.navbar .container-fluid {
  background-image: url("img/drought-aridity-dry-earth-yellow.jpg");
  color: #fff;
}
.navbar-default .container-fluid ul.navbar-nav > .active > a, 
.navbar-default .container-fluid ul.navbar-nav > .active > a:hover, 
.navbar-default .container-fluid ul.navbar-nav > .active > a:focus {
  background-color: rgb(80,70,70); /* fallback */
  background-color: rgba(0, 0, 0, 0.4);
}
.navbar .container-fluid ul.navbar-nav > li > a,
.navbar .container-fluid ul.navbar-nav > li > a:hover,
.navbar .container-fluid ul.navbar-nav > li > a:focus,
.navbar-header span.navbar-brand:hover,
.navbar-header span.navbar-brand:active {
  color: #fff;
}

/* legend for flows */
ul.flow-legend {
  position: absolute; 
  bottom: 2.5em; 
  margin-left: 5px;
  list-style-type: none;
}
ul.flow-legend > li > span {
  display: block; 
  float: left; 
  width: 1.5em; 
  margin-right: 5px;
}
ul.flow-legend > li:nth-of-type(1) > span {
  background-color: #43BF714D; 
}
ul.flow-legend > li:nth-of-type(2) > span {
  background-color: #4401544D; 
}

/* legend for flows in mode 2 */
ul.flow-legend2 {
  position: absolute; 
  bottom: 2.5em; 
  right: 5px;
  margin-right: 5px;
  list-style-type: none;
}
ul.flow-legend2 > li > span {
  display: block; 
  float: right; 
  width: 1.5em; 
  margin-left: 5px;
}
ul.flow-legend2 > li:nth-of-type(1) > span {
  background-color: #43BF714D; 
}
ul.flow-legend2 > li:nth-of-type(2) > span {
  background-color: #4401544D; 
}

/* description for plot */
ul.description, 
ul.description2 {
  list-style-type: none;
  margin: 0;
  background-color: #e8e8e8;
  color: #333;
  height: 2em;
  z-index: 9999;
  position: absolute;
  width: 100%;
  bottom: 0;
}
ul.description li, 
ul.description2 li {
  display: block;
  float: left;
  text-align: center;
  height: 2em;
  line-height: 2em;
  font-style: italic;
  font-weight: 500;
}
ul.description li:first-child,
ul.description2 li:first-child{
  text-align: left;
}
/* ... mode 1 */
ul.description li {
  width: 25%;
}
ul.description li:first-child {
  padding-left: 5px;
}
ul.description li:nth-child(2) {
  padding-right: 6%;
}
ul.description li:nth-child(3) {
  padding-left: 8%;
}
ul.description li:last-child {
  padding-right: 10px;
  text-align: right;
}
/* ... mode 2 */
ul.description2 li {
  width: 33.33%;
}
ul.description2 li:first-child {
  padding-left: 20px;
}
ul.description2 li:nth-child(2) {
}
ul.description2 li:last-child {
  padding-right: 10px;
  text-align: right;
}

/* plot */
#sankey_plot {
  height:calc(100vh - 200px) !important;
  /* nav: 60+21; ul.description 30-20; rest: 102 */
}
@media only screen and (min-width: 1116px) and (max-width: 1500px) {
  #sankey_plot {
    height:calc(100vh - 232px) !important;
    /* nav: 60+21; ul.description 30; rest: 124 */
  }
}
@media only screen and (max-width: 1115px) {
  #sankey_plot {
    height:calc(100vh - 242px) !important;
    /* nav: 60+21; ul.description 30; rest: 144 */
  }
}
